<table>
  <tr>
    <th><%= f.label :nombre%></th>
    <td><%= f.text_field :nombre%></td>
  </tr>
  <tr>
    <th><%= f.label :descripcion %></th>
    <td><%= f.text_field :descripcion %></td>
  </tr>
  <tr>
    <th><%= f.label :pais_id %></th>
    <td><%= f.text_field :pais_id %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "Guardar" %></td>
  </tr>
</table>
