<!DOCTYPE html>
<html>
  <head>
    <title>Proyectolpoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ad04fcca62.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <head>
      <%= render 'layouts/navbar' unless @disable_nav %>
      <%# render 'layouts/navbar' unless current_page?('/login')%>
    </head>
    <%= yield %>
  </body>
  <div class="blockquote-footer">
    <%= debug(params) if Rails.env.development? %>
  </div>
</html>
